.cd {
  -moz-border-radius: 63px;
  -webkit-border-radius: 63px;
  border-radius: 63px;
  width: 126px;
  height: 126px;
  position: relative;
}

.cd .hole {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: rgba(15, 15, 15, 0);
  left: 48px;
  top: 48px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
}
