.App {
  margin: 0 0;
  padding: 0 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}
::-webkit-scrollbar {
  height: 5px !important;
}

Track ::-webkit-scrollbar-track {
  background: #151212;
  height: 5px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(16, 16, 16);
  height: 5px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
